<div class="bg-grey-lighter min-h-screen flex flex-col">
  <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
    <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
      <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
        <h1 class="mb-8 text-3xl text-center">Connexion</h1>

        <input [(ngModel)]="email"
               type="text"
               class="block border border-grey-light w-full p-3 rounded mb-4"
               name="email"
               placeholder="Email"/>

        <input [(ngModel)]="password"
               type="password"
               class="block border border-grey-light w-full p-3 rounded mb-4"
               name="password"
               placeholder="Mot de passe"/>
        <button
          type="submit"
          class="w-full text-center py-3 rounded bg-green-500 text-white hover:bg-blue-500 focus:outline-none my-1"
        >Connexion
        </button>
        <div *ngIf="errorMessage" class="text-red-500 mt-4">
          {{ errorMessage }}
        </div>
      </div>
    </form>
    <div class="text-grey-dark mt-6">
      Vous n'avez pas de compte ?
      <a [routerLink]="['/sign-up']" class="no-underline border-b border-blue text-blue" >
        S'inscrire
      </a>.
    </div>
  </div>
</div>
