.status-available {
  background-color: rgba(16, 185, 129, 0.5);
}

.status-borrowed {
  background-color: rgba(239, 68, 68, 0.5);
}

.table-fixed {
  table-layout: fixed;
  width: 100%;
}

.fixed-width {
  width: 33.33%;
}
